<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid" style="background-color: rgb(56, 54, 82);">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color:white" href ="/shome">Student Home</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color:white" href ="/stud_show_teach">show all teachers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" style="color:white" href="/stud_edit">Edit profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color:white" href="/leave">Leave application</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color:white" href="/stu_leave_sts">Leave application Status</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/" style="color:white">Logout</a>
              </li>
            </ul>
        </div>

        <h2 style="text-align:center; font-family: monospace; padding-top:70px;">All Teacher details</h2>

        <table class="table" style=" margin: 0 auto; width: 80%;">
            <tr class="table-dark">
                <th>Teacher Name</th>               
                <th>Department</th>
            </tr>

            {% for i in teachers %}

                <tr class="table-secondary">
                    <td> {{ i.tname }}</td>
                    <td> {{ i.department }}</td>

                </tr>

            {% endfor %}
        </table>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.js" async defer></script>
    </body>
</html>